---
import Layout from "../../components/Layout.astro";
import GroupList from "../../components/GroupList.astro";
import { getCompanyGroups } from "../../lib/events";

const companies = getCompanyGroups();
---

<Layout title="Compañías | Teatro Asturias" description="Compañías teatrales con obras publicadas en la cartelera de Teatro Asturias.">
  <main>
    <section class="page-heading">
      <p class="kicker">Compañías</p>
      <h1>Compañías en cartelera</h1>
    </section>
    <GroupList groups={companies} basePath="/companias" />
  </main>
</Layout>
